{% extends "base.html" %}

{% block head %}
<style>

</style>

{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h1>Сертификаты на сервере</h1>
    </div>
</div>

<div class="row mt-2">
    <div class="col-12">
        <div class="input-group mb-3">
            <span class="input-group-text"  style="min-width: 115px;">Хранилище</span>
            <select class="form-select" id="store" style="max-width: 300px;">
                <option  selected value="All">Любое Хранилище</option>
                <option  value="Root">Корневые сертификаты</option>
                <option  value="Ca">Промежуточные сертификаты</option>
                <option  value="My">Личные сертификаты</option>


            </select>
        </div>
    </div>  
    <div class="col-12">
        <div class="input-group mb-3">
            <span class="input-group-text" style="min-width: 115px;">Смещение</span>
        <input type="number" class="form-control" id="offset" name="offset" value="0" style="max-width:200px">
        </div>
    </div>
    
    <div class="col-12">
        <div class="input-group mb-3">
            <span class="input-group-text" style="min-width: 115px;">Количество</span>
            <input type="number" class="form-control" id="count" name="count" value="10" style="max-width:200px">
        </div>
    </div>
    <div class="col-12">
        <button id="mainButton" type="button" class="btn btn-success"
            hx-get="{{backend_url}}/api/certificates/"
            hx-trigger="click"  hx-target="#result" hx-swap="innerHTML"
            {% if api_key %}
                hx-headers='js:{"X-API-Key": document.getElementById("api_key").value}'
            {% endif %}
        >
            Запрос
        </button>
    </div>
</div>

<div class="row mt-3">
    <div class="col">
        <code id="result"></code>
    </div>
</div>


{% endblock %}

{% block footer %}
<script>

    document.body.addEventListener('htmx:afterSwap', function (evt) {
        evt.detail.elt.innerHTML = JSON.stringify(JSON.parse(evt.detail.elt.innerHTML), null, 4)
        evt.detail.elt.innerText = JSON.stringify(JSON.parse(evt.detail.elt.innerText), null, 4)

    });
</script>
<script>
    document.body.addEventListener('htmx:configRequest', function(evt) {
        const store = document.getElementById("store").value
        const offset = document.getElementById("offset").value
        const count = document.getElementById("count").value
        evt.detail.parameters['store'] =  store // add a new parameter into the mix
        evt.detail.parameters['offset'] =  offset // add a new parameter into the mix
        evt.detail.parameters['limit'] =  count// add a new parameter into the mix
        


    });
</script>
{% endblock %}